<%- include('includes/head') %>





    <div class="box block container column is-one-third is-small">
        <h1 class="title">All Products</h1>
        <div class="card-content ">
            <div class="content ">
                <ul>

                    <% for(let pro of products){ %>
                        <li class="is-5">
                            <a href="/products/<%= pro._id %> ">
                                <%= pro.name %>
                            </a>
                        </li>
                        <% } %>
                </ul>
            </div>
        </div>
        <div class="card-footer">
            <a class="card-footer-item button is-light" href="/new">Add New Product</a>
        </div>
    </div>




    <%- include('includes/footer') %>