
<%- include('includes/head') %>

    <section class='box container section column is-one-third section is-small'>
        <h1 class="title">Add New Product</h1>
        <form class=""" action=" /products" method="POST">
            <div class="field">
                <label for="name">Product Name:</label>
                <input class="input" type="text" name="name" id="name" placeholder="Product Name" required>
            </div>
            <div class="field">
                <label for="number">Enter price: $</label>
                <input class="input" type="number" name="price" id="price" min="0" max="100" step="0.01">
            </div>
            <div class="field">
                <label for="category">Select Category:</label>
                <select class="input" name="category" id="category">
                    <% for(cat of category){ %>
                        <option value="<%= cat %>">
                            <%=cat%>
                        </option>
                        <% } %>

                </select>
            </div>
            <button class='button is-light'>Submit</button>
            <a class='button is-light' href="/products">Home</a>
        </form>

    </section>

    <%- include('includes/footer') %>